*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.paragraph{
    font-size: 25px;
}
.container{
    background-color: darkgray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    
}
.header-container{
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 60px;
    
}

.section-container{
    flex: 1 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(210px,auto);
    gap:5px;
    grid-template-areas:
    "item1 item2 item3"
    "item4 item4 item4"
    "item5 item5 item6"
    ;
}
.footer-container{
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 60px;
}

.section-item{
    border: 2px solid black;
    background-color: white;
    padding: 10px;
}


.item1{
    grid-area: item1;
    min-width: 250px;
}
.item2{
    grid-area: item2;
    min-width: 250px;
}
.item3{
    grid-area: item3;
    min-width: 250px;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
    min-width: 350px;
}
.item6{
    grid-area: item6;
    min-width: 250px;
}

@media(max-width:780px){
    .section-container{
    grid-template-areas:
    "item1 item1 item1"
    "item2 item2 item2"
    "item3 item3 item3"
    "item4 item4 item4"
    "item5 item5 item6";
    }
}

@media(max-width:635px){
    .section-container{
    grid-template-areas:
    "item1 item1 item1"
    "item2 item2 item2"
    "item3 item3 item3"
    "item4 item4 item4"
    "item5 item5 item5"
    "item6 item6 item6";
    }
}

@media (max-width: 360px) {
    .item5 {
        min-width: auto;
    }}