@mixin text-style($color, $font-size, $font-family) {
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
}

.texts {
  h1 {
    @include text-style(red, 30px, Arial);
  }
  p {
    @include text-style(blue, 20px, sans-serif);
  }
}
